<form class="" autocomplete="off">

    	<div class="ficha-box-stroke ficha gradiente">
		<div class="ficha-box">

			<!-- Sidebar -->
			<div class="ficha-sidebar">
				<ul class="ficha-sidebar-menu">
					<li>
						<a href="javascript:void(0)" class="ficha-ativo">
							perfil
						</a>
					</li>

					<li>
						<a href="javascript:void(0)">
							inventário
						</a>
					</li>

					<li>
						<a href="javascript:void(0)">
							características
						</a>
					</li>

					<li>
						<a href="javascript:void(0)">
							notas
						</a>
					</li>

					<li>
						<a href="javascript:void(0)">
							histórico
						</a>
					</li>
				</ul>
			</div>
			<!-- /Sidebar -->

			<!-- PERFIL -->
			<div class="ficha-conteudo" ficha-id="perfil">
				<!-- box principal -->
				<div class="ficha-perfil-dados">
					<div class="ficha-bloco ficha-bloco-nome">
						<div class="ficha-nome">
							<input type="text" value="Melissandra Dogola Brum">
						</div>
						<div class="ficha-jogador">
							por: <strong><input type="text" value="Natália Santos"></strong>
						</div>
						<div class="ficha-info">
							<input type="text" value="21" class="ficha-3algarismos"> anos • <span>Meia-elfa</span> • <input type="text" value="1.80">m • <input type="text" value="55" class="ficha-3algarismos">kg • <select>
								<option value="0">Tam ínfimo (0)</option>
			                    <option value="1">Tam Mínimo (1)</option>
			                    <option value="2">Tam Miúdo (2)</option>
			                    <option value="3">Tam Pequeno (3)</option>
			                    <option value="4">Tam Médio (4)</option>
			                    <option value="5">Tam Grande (5)</option>
			                    <option value="6">Tam Enorme (6)</option>
			                    <option value="7">Tam Imenso (7)</option>
			                    <option value="8">Tam Colossal (8)</option>
							</select>
						</div>
					</div>
					
					<!-- Box personagem -->
					<div class="ficha-perfil-personagem ficha-bloco">

						<!-- atributos -->
						<div class="ficha-perfil-atributos">
							<div class="ficha-subtitulo">
								atributos
							</div>

							<div class="ficha-xp">
								<input type="text" value="3" class="ficha-3algarismos"> pts
							</div>

							<div class="ficha-atributos">
								<div class="ficha-atributos-item">
									<a href="javascript:void(0)" class="ficha-atributos-item-txt ficha-forca">
										<span class="ficha-flex">
											<span class="ficha-txt">
												força
											</span>

											<span class="ficha-numero gradiente-txt">
												2
											</span>
										</span>

										<span class="ficha-soma">
											2 + 0 + 0
										</span>
									</a>

									<a href="javascript:void(0)" class="ficha-atributos-item-txt ficha-reflexos">

										<span class="ficha-flex">
											<span class="ficha-txt">
												reflexos
											</span>

											<span class="ficha-numero gradiente-txt">
												5
											</span>
										</span>

										<span class="ficha-soma">
											4 + 1 + 0
										</span>
									</a>

									<a href="javascript:void(0)" class="ficha-atributos-item-txt ficha-inteligencia">
										<span class="ficha-flex">
											<span class="ficha-txt">
												inteligência
											</span>

											<span class="ficha-numero gradiente-txt">
												4
											</span>
										</span>

										<span class="ficha-soma">
											4 + 0 + 0
										</span>
									</a>

									<a href="javascript:void(0)" class="ficha-atributos-item-txt ficha-empatia">
										<span class="ficha-flex">
											<span class="ficha-txt">
												empatia
											</span>

											<span class="ficha-numero gradiente-txt">
												5
											</span>
										</span>

										<span class="ficha-soma">
											4 + 0 + 1
										</span>
									</a>
								</div>
							</div>
							
						</div>

						<!-- /Atributos -->


						<!-- Pericias -->
						<div class="ficha-perfil-pericias">
							<div class="ficha-subtitulo">
								perícias
							</div>

							<div class="ficha-xp">
								<input type="text" value="55" class="ficha-3algarismos"> xp
							</div>
							<div class="ficha-pericias">

								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											vigor
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->

								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											esquiva
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->


								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											concentração
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->


								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											atletismo
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->


								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											iniciativa
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->


								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											percepção
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->


								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											iniciativa
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->



								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											arcos
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->



								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											acrobacia
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->



								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											ofícios
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->



								<!-- pericia item -->
								<div class="ficha-pericia-item">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt">
											arremesso de adaga
										</a>

										<a href="javascript:void(0)" class="ficha-numeros">
											<span class="ficha-numero gradiente-txt">2</span>

											<span class="ficha-bonus">+1</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->



							</div>
						</div>
						<!-- /Pericias -->
						
					</div>
					<!-- /Box Personagem -->
					
				</div>
				<!-- /box principal -->

				<div class="ficha-perfil-corpo">
					<!-- Foto -->
					<div class="ficha-bloco ficha-perfil-corpo-img">
						<div class="ficha-perfil-corpo-blur" style="background-image:url(https://www.drivethrurpg.com/images/14799/321819.jpg)"></div>
						<div class="ficha-perfil-corpo-ok" style="background-image:url(https://www.drivethrurpg.com/images/14799/321819.jpg)"></div>
					</div>
					<!-- /Foto -->

					<div class="ficha-bloco ficha-perfil-corpo-vida">
						<!-- PV -->
						<div class="ficha-barra">
							<div class="ficha-barra-titulo">
								vitalidade
							</div>

							<div class="ficha-barra-box">
								<div class="ficha-barra-numero">
									<input type="text" value="5" class="ficha-barra-numero-input">
								</div>

								<div class="ficha-barra-totais">
									<div class="ficha-barra-fundo">
										<div class="ficha-barra-barra-terco"></div>
										<div class="ficha-barra-barra ficha-barra-barra-vida" style="width: 100%"></div>
									</div>
									<div class="ficha-barra-numeros">
										<div class="ficha-barra-max">
											/9
										</div>
										<div class="ficha-barra-status">
											normal
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /PV -->


						<!-- fadiga -->
						<div class="ficha-barra">
							<div class="ficha-barra-titulo">
								fadiga
							</div>

							<div class="ficha-barra-box">
								<div class="ficha-barra-numero">
									<input type="text" value="10" class="ficha-barra-numero-input">
								</div>

								<div class="ficha-barra-totais">
									<div class="ficha-barra-fundo">
										<div class="ficha-barra-barra-terco"></div>
										<div class="ficha-barra-barra ficha-barra-barra-fadiga" style="width: 100%"></div>
									</div>
									<div class="ficha-barra-numeros">
										<div class="ficha-barra-max">
											/11
										</div>
										<div class="ficha-barra-status">
											<strong class="positivo">disposto</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /fadiga -->

						<!-- corpo -->
						<div class="ficha-corpo">
							<div class="ficha-corpo-humanoide">
								<img src="systems/gslite/img/corpo/humanoide.png" alt="humanoide">

								<div class="ficha-corpo-parte ficha-corpo-cabeca">
									<input type="text" value="5" class="ficha-corpo-rd">
								</div>

								<div class="ficha-corpo-parte ficha-corpo-torso">
									<input type="text" value="5" class="ficha-corpo-rd">
								</div>

								<div class="ficha-corpo-parte ficha-corpo-bracoE">
									<input type="text" value="5" class="ficha-corpo-rd">
								</div>


								<div class="ficha-corpo-parte ficha-corpo-bracoD">
									<input type="text" value="5" class="ficha-corpo-rd">
								</div>


								<div class="ficha-corpo-parte ficha-corpo-pernaE ficha-incapacitado">
									<input type="text" value="5" class="ficha-corpo-rd">
								</div>


								<div class="ficha-corpo-parte ficha-corpo-pernaD ficha-ferido">
									<input type="text" value="5" class="ficha-corpo-rd">
								</div>

								<div class="ficha-corpo-esqdir">
									<div class="ficha-esquerda">
										esq.
									</div>
									<div class="ficha-direita">
										dir.
									</div>
								</div>

							</div>
						</div>
					</div>

					
				</div>

				

			</div>
			<!-- PERFIL -->



		</div>
	</div>

    <!--
    <header class="header">
        <div class="header-dados">
            <h1 class="nome inputbox">
                <input name="name" class="input" type="text" value="{{actor.name}}" placeholder=""/>
                <div class="label">Personagem</div>
            </h1>

            <h2 class="jogador inputbox">
                <input name="data.jogador" class="input" type="text" value="{{data.jogador}}" placeholder=""/>
                <div class="label">Jogador</div>
            </h2>

            <div class="raca inputbox">
                <input name="data.raca" class="input" type="text" value="{{data.raca}}" placeholder=""/>
                <div class="label">Raça / Etnia</div>
            </div>

            <div class="tamanho selectbox">
                <select name="data.tamanho">
                    <option value="0" {{#if (eq data.tamanho "0")}}selected{{/if}}>ínfimo (0)</option>
                    <option value="1" {{#if (eq data.tamanho "1")}}selected{{/if}}>Mínimo (1)</option>
                    <option value="2" {{#if (eq data.tamanho "2")}}selected{{/if}}>Miúdo (2)</option>
                    <option value="3" {{#if (eq data.tamanho "3")}}selected{{/if}}>Pequeno (3)</option>
                    <option value="4" {{#if (eq data.tamanho "4")}}selected{{/if}}>Médio (4)</option>
                    <option value="5" {{#if (eq data.tamanho "5")}}selected{{/if}}>Grande (5)</option>
                    <option value="6" {{#if (eq data.tamanho "6")}}selected{{/if}}>Enorme (6)</option>
                    <option value="7" {{#if (eq data.tamanho "7")}}selected{{/if}}>Imenso (7)</option>
                    <option value="8" {{#if (eq data.tamanho "8")}}selected{{/if}}>Colossal (8)</option>
                </select>
                <div class="label">Tamanho</div>
            </div>

            <div class="altura-peso inputbox">
                <input name="data.altura-peso" class="input" type="text" value="{{data.altura-peso}}" placeholder=""/>
                <div class="label">Altura & Peso</div>
            </div>

            <div class="idade inputbox">
                <input name="data.idade" class="input" type="text" value="{{data.idade}}" placeholder=""/>
                <div class="label">Idade</div>
            </div>


            <div class="aparencia-resumo inputbox">
                <input name="data.aparencia-resumo" class="input" type="text" value="{{data.aparencia-resumo}}" placeholder="Resumo da aparência"/>
                <div class="label">Aparência</div>
            </div>

        </div>

        <div class="header-foto">
            <img src="{{actor.img}}" data-edit="img" title="Imagem de {{actor.name}}" alt="Imagem de {{actor.name}}"/>
        </div>

        <section class="defeitos-qualidades">
            <h3>Defeitos</h3>a
            <ul class="defeitos">
                {{#each defeitos as |defeitoitem id|}}
                {{> "systems/gslite/templates/partials/defeito.hbs" defeitoitem}}
                {{/each}}
            </ul>b
        </section>


    </header> -->
    

</form>