<form class="ficha ficha-editavel-{{data.editavel}}" autocomplete="off" abaAberta="{{data.abaAberta}}" modalAberto="{{data.modalAberto}}" fichaunica="{{actor._id}}">


    	<div class="ficha-box-stroke gradiente">
		<div class="ficha-box">

			<!-- Sidebar -->
			<div class="ficha-sidebar">
				<ul class="ficha-sidebar-menu">
					<li>
						<a href="javascript:void(0)" abrirAba="perfil">
							perfil
						</a>
					</li>

					<li>
						<a href="javascript:void(0)" abrirAba="inventario">
							inventário
						</a>
					</li>

					<li>
						<a href="javascript:void(0)" abrirAba="caracteristicas">
							características
						</a>
					</li>

					<li>
						<a href="javascript:void(0)" abrirAba="notas">
							notas
						</a>
					</li>

					<li>
						<a href="javascript:void(0)" abrirAba="historico">
							histórico
						</a>
					</li>

                    <li style="display:none" class="jsEditavelChangeLi">
                        <a href="javascript:void(0)" class="jsEditavelChange" editavelValor="{{data.editavel}}">
							editável: {{data.editavel}}
						</a>
                        <input name="data.editavel" type="hidden" value="{{data.editavel}}">
                    </li>
				</ul>
			</div>
			<!-- /Sidebar -->

			<!-- PERFIL -->
			<div class="ficha-conteudo" fichaId="perfil">
				<!-- box principal -->
				<div class="ficha-perfil-dados">
					<div class="ficha-bloco ficha-bloco-nome">
						<div class="ficha-nome">
                            <input name="name" type="text" value="{{actor.name}}" placeholder=""/>
						</div>
						<div class="ficha-jogador">
							por: <strong><input name="data.jogador" type="text" value="{{data.jogador}}" placeholder=""/></strong>
						</div>
						<div class="ficha-info">
                            <input name="data.idade" class="ficha-3algarismos" type="text" value="{{data.idade}}" placeholder=""/>
                            
                             anos • 
                             <input name="data.raca" class="" style="width: 65px" type="text" value="{{data.raca}}" placeholder=""/>
                              • 
                             <input name="data.altura" type="text" value="{{data.altura}}" placeholder=""/>m • 
                             <input name="data.peso" class="ficha-3algarismos" type="text" value="{{data.peso}}" placeholder=""/>kg • 
                            
                            <select name="data.tamanho">
                                <option value="0" {{#if (eq data.tamanho "0")}}selected{{/if}}>Tam. ínfimo (0)</option>
                                <option value="1" {{#if (eq data.tamanho "1")}}selected{{/if}}>Tam. Mínimo (1)</option>
                                <option value="2" {{#if (eq data.tamanho "2")}}selected{{/if}}>Tam. Miúdo (2)</option>
                                <option value="3" {{#if (eq data.tamanho "3")}}selected{{/if}}>Tam. Pequeno (3)</option>
                                <option value="4" {{#if (eq data.tamanho "4")}}selected{{/if}}>Tam. Médio (4)</option>
                                <option value="5" {{#if (eq data.tamanho "5")}}selected{{/if}}>Tam. Grande (5)</option>
                                <option value="6" {{#if (eq data.tamanho "6")}}selected{{/if}}>Tam. Enorme (6)</option>
                                <option value="7" {{#if (eq data.tamanho "7")}}selected{{/if}}>Tam. Imenso (7)</option>
                                <option value="8" {{#if (eq data.tamanho "8")}}selected{{/if}}>Tam. Colossal (8)</option>
                            </select>
						</div>
					</div>
					
					<!-- Box personagem -->
					<div class="ficha-perfil-personagem ficha-bloco">

						<!-- atributos -->
						<div class="ficha-perfil-atributos">
							<div class="ficha-subtitulo">
								atributos
							</div>

							<div class="ficha-xp">
                                <span class="jsXpAtributosFake"></span> atr
                                <input type="hidden" name="data.xp-atributos" value="{{data.xp-atributos}}" class="jsXpAtributos">
                                <input type="hidden" value="0" class="jsXpAtributosFakeInput">

                                <div class="minimodalAddAttr">
                                    <span>Adicionar Pontos de Atributo</span>
                                    <input type="text" value="0" class="jsAddXp">
                                    <a href="javascript:void(0)">OK</a>
                                </div>
							</div>

							<div class="ficha-atributos">
								<div class="ficha-atributos-item">
									<a href="javascript:void(0)" class="ficha-atributos-item-txt ficha-forca" abrirmodalcontext="forca">
										<span class="ficha-flex">
											<span class="ficha-txt">
												força
											</span>

											<span class="ficha-numero gradiente-txt">
                                                {{somaAtt data.forca.graduacao data.forca.racial data.forca.bonus}}
											</span>
										</span>

										<span class="ficha-soma">
											{{data.forca.graduacao}} + {{data.forca.racial}} + {{data.forca.bonus}}
										</span>
									</a>

									<a href="javascript:void(0)" class="ficha-atributos-item-txt ficha-reflexos" abrirmodalcontext="reflexos">

										<span class="ficha-flex">
											<span class="ficha-txt">
												reflexos
											</span>

											<span class="ficha-numero gradiente-txt">
												{{somaAtt data.reflexos.graduacao data.reflexos.racial data.reflexos.bonus}}
											</span>
										</span>

										<span class="ficha-soma">
											{{data.reflexos.graduacao}} + {{data.reflexos.racial}} + {{data.reflexos.bonus}}
										</span>
									</a>

									<a href="javascript:void(0)" class="ficha-atributos-item-txt ficha-inteligencia" abrirmodalcontext="inteligencia">
										<span class="ficha-flex">
											<span class="ficha-txt">
												inteligência
											</span>

											<span class="ficha-numero gradiente-txt">
												{{somaAtt data.inteligencia.graduacao data.inteligencia.racial data.inteligencia.bonus}}
											</span>
										</span>

										<span class="ficha-soma">
											{{data.inteligencia.graduacao}} + {{data.inteligencia.racial}} + {{data.inteligencia.bonus}}
										</span>
									</a>

									<a href="javascript:void(0)" class="ficha-atributos-item-txt ficha-empatia" abrirmodalcontext="empatia">
										<span class="ficha-flex">
											<span class="ficha-txt">
												empatia
											</span>

											<span class="ficha-numero gradiente-txt">
												{{somaAtt data.empatia.graduacao data.empatia.racial data.empatia.bonus}}
											</span>
										</span>

										<span class="ficha-soma">
											{{data.empatia.graduacao}} + {{data.empatia.racial}} + {{data.empatia.bonus}}
										</span>
									</a>
								</div>
							</div>
							
						</div>

						<!-- /Atributos -->


						<!-- Pericias -->
						<div class="ficha-perfil-pericias">
							<div class="ficha-subtitulo">
								perícias
							</div>

							<div class="ficha-xp">
								<span class="jsXpFake"></span> xp
                                <input type="hidden" value="0" class="jsXpFakeInput">
								<input type="hidden" name="data.xp" value="{{data.xp}}" class="jsXp">

								<div class="minimodalAddXp">
                                    <span>Adicionar XP</span>
                                    <input type="text" value="0" class="jsAddXp">
                                    <a href="javascript:void(0)">OK</a>
                                </div>
							</div>
							<div class="ficha-pericias">
								{{#each pericias as |pericia id|}}
								<!-- pericia item -->
								<div class="ficha-pericia-item" periciagraduacao="{{pericia.data.graduacao}}">
									<div class="ficha-pericia">
										<a href="javascript:void(0)" class="ficha-txt" abrirmodalcontext="pericia{{pericia._id}}">
											{{pericia.name}}
										</a>

										<a href="javascript:void(0)" class="ficha-numeros" abrirmodalcontext="pericia{{pericia._id}}">
											<span class="ficha-numero gradiente-txt">{{somaPericia pericia.data.graduacao pericia.data.bonus}}</span>
										</a>
									</div>
								</div>
								<!-- /pericia item -->
								{{/each}}





							</div>
						</div>
						<!-- /Pericias -->
						
					</div>
					<!-- /Box Personagem -->
					
				</div>
				<!-- /box principal -->

				<div class="ficha-perfil-corpo">
					<!-- Foto -->
					<div class="ficha-bloco ficha-perfil-corpo-img">
                        <img src="{{actor.img}}" alt="imagem" data-edit="img">
						<div class="ficha-perfil-corpo-blur" style="background-image:url({{actor.img}})"></div>
						<div class="ficha-perfil-corpo-ok" style="background-image:url({{actor.img}})"></div>
					</div>
					<!-- /Foto -->

					<div class="ficha-bloco ficha-perfil-corpo-vida">
						<!-- PV -->
						<div class="ficha-barra">
							<div class="ficha-barra-titulo">
								vitalidade
							</div>

							<div class="ficha-barra-box">
								<div class="ficha-barra-numero">
									 <input type="text" name="data.pv.value" value="{{data.pv.value}}" class="ficha-barra-numero-input jsNumeroConta">
									 <input type="hidden" value="{{somaPvMax data.forca.graduacao data.forca.racial data.forca.bonus data.tamanho data.pv.max-bonus}}" class="jsPvMaximo">
									 <input type="hidden" name="data.pv.max" value="{{data.pv.max}}">
								</div>

								<div class="ficha-barra-totais">
									<div class="ficha-barra-fundo" style="height: 10px;">
										<div class="ficha-barra-barra-terco" style="">{{metade data.pv.max}}</div>
										<div class="ficha-barra-barra ficha-barra-barra-vida" style="width: {{porcentagem data.pv.value data.pv.max}};"></div>
									</div>
									<a href="javascript:void(0)" class="ficha-barra-numeros" abrirmodalcontext="pvmax">
										<div class="ficha-barra-max">
											/{{data.pv.max}}
										</div>
										<div class="ficha-barra-status">
											{{statusCalc data.pv.value data.pv.max}}
											<input type="hidden" value="{{statusCalc data.pv.value data.pv.max}}" class="jsPvStatus">
											<input type="hidden" name="data.pv.status" value="{{data.pv.status}}">
										</div>
									</a>
								</div>
							</div>
						</div>
						<!-- /PV -->


						<!-- fadiga -->
						<div class="ficha-barra">
							<div class="ficha-barra-titulo">
								fadiga
							</div>

							<div class="ficha-barra-box">
								<div class="ficha-barra-numero">
									<input type="text" name="data.fadiga.value" value="{{data.fadiga.value}}" class="ficha-barra-numero-input jsNumeroConta">
									 <input type="hidden" value="{{somaFadigaMax data.forca.graduacao data.forca.racial data.forca.bonus data.reflexos.graduacao data.reflexos.racial data.reflexos.bonus data.tamanho data.fadiga.max-bonus}}" class="jsFadigaMaxima">
									 <input type="hidden" name="data.fadiga.max" value="{{data.fadiga.max}}">
								</div>

								<div class="ficha-barra-totais">
									<div class="ficha-barra-fundo">
										<div class="ficha-barra-barra-terco">{{metade data.fadiga.max}}</div>
										<div class="ficha-barra-barra ficha-barra-barra-fadiga" style="width: {{porcentagem data.fadiga.value data.fadiga.max}};"></div>
									</div>
									<a href="javascript:void(0)" class="ficha-barra-numeros" abrirmodalcontext="fadigamax">
										<div class="ficha-barra-max">
											/{{data.fadiga.max}}
										</div>
										<div class="ficha-barra-status">
											{{statusCalc data.fadiga.value data.fadiga.max}}
											<input type="hidden" value="{{statusCalc data.fadiga.value data.fadiga.max}}" class="jsFadigaStatus">
											<input type="hidden" name="data.fadiga.status" value="{{data.fadiga.status}}">
										</div>
									</a>
								</div>
							</div>
						</div>
						<!-- /fadiga -->

						<!-- corpo -->
						<div class="ficha-corpo">
							<div class="ficha-corpo-humanoide">
								<img src="systems/gslite/img/corpo/humanoide.png" alt="humanoide">

								<div class="ficha-corpo-parte ficha-corpo-cabeca tooltip-box jsSelectFakeContext">
                                    <span class="tooltip">cabeça</span>
                                    <input type="text" name="data.cabeca.rd" value="{{data.cabeca.rd}}" class="ficha-corpo-rd jsNumeroConta ficha-corpo-status-{{data.cabeca.status}}">
                                    <div class="ficha-selectfake-box">
                                        <div class="ficha-selectfake">
                                            <select name="data.cabeca.status">
                                                <option value="normal" {{#if (eq data.cabeca.status "normal")}}selected{{/if}}>Normal</option>
                                                <option value="ferido" {{#if (eq data.cabeca.status "ferido")}}selected{{/if}}>Ferido</option>
                                                <option value="incapacitado" {{#if (eq data.cabeca.status "incapacitado")}}selected{{/if}}>Incapacitado</option>
                                            </select>
                                        </div>
                                        <div class="ficha-selectfake-sombra"></div>
                                    </div>
								</div>

								<div class="ficha-corpo-parte ficha-corpo-torso ficha-corpo-status-{{data.torso.status}} tooltip-box jsSelectFakeContext">
                                    <span class="tooltip">torso</span>
                                    <input type="text" name="data.torso.rd" value="{{data.torso.rd}}" class="ficha-corpo-rd jsNumeroConta  ficha-corpo-status-{{data.torso.status}}">

                                     <div class="ficha-selectfake-box">
                                        <div class="ficha-selectfake">
                                            <select name="data.torso.status">
                                                <option value="normal" {{#if (eq data.torso.status "normal")}}selected{{/if}}>Normal</option>
                                                <option value="ferido" {{#if (eq data.torso.status "ferido")}}selected{{/if}}>Ferido</option>
                                                <option value="incapacitado" {{#if (eq data.torso.status "incapacitado")}}selected{{/if}}>Incapacitado</option>
                                            </select>
                                        </div>
                                        <div class="ficha-selectfake-sombra"></div>
                                    </div>
								</div>

								<div class="ficha-corpo-parte ficha-corpo-bracoE ficha-corpo-status-{{data.braco-e.status}} tooltip-box jsSelectFakeContext">
                                    <span class="tooltip">braço esquerdo</span>
                                    <input type="text" name="data.braco-e.rd" value="{{data.braco-e.rd}}" class="ficha-corpo-rd jsNumeroConta  ficha-corpo-status-{{data.braco-e.status}}">

                                     <div class="ficha-selectfake-box">
                                        <div class="ficha-selectfake">
                                            <select name="data.braco-e.status">
                                                <option value="normal" {{#if (eq data.braco-e.status "normal")}}selected{{/if}}>Normal</option>
                                                <option value="ferido" {{#if (eq data.braco-e.status "ferido")}}selected{{/if}}>Ferido</option>
                                                <option value="incapacitado" {{#if (eq data.braco-e.status "incapacitado")}}selected{{/if}}>Incapacitado</option>
                                            </select>
                                        </div>
                                        <div class="ficha-selectfake-sombra"></div>
                                    </div>
								</div>


								<div class="ficha-corpo-parte ficha-corpo-bracoD ficha-corpo-status-{{data.braco-d.status}} tooltip-box jsSelectFakeContext">
                                    <span class="tooltip">braço direito</span>
                                    <input type="text" name="data.braco-d.rd" value="{{data.braco-d.rd}}" class="ficha-corpo-rd jsNumeroConta  ficha-corpo-status-{{data.braco-d.status}}">

                                     <div class="ficha-selectfake-box">
                                        <div class="ficha-selectfake">
                                            <select name="data.braco-d.status">
                                                <option value="normal" {{#if (eq data.braco-d.status "normal")}}selected{{/if}}>Normal</option>
                                                <option value="ferido" {{#if (eq data.braco-d.status "ferido")}}selected{{/if}}>Ferido</option>
                                                <option value="incapacitado" {{#if (eq data.braco-d.status "incapacitado")}}selected{{/if}}>Incapacitado</option>
                                            </select>
                                        </div>
                                        <div class="ficha-selectfake-sombra"></div>
                                    </div>
								</div>


								<div class="ficha-corpo-parte ficha-corpo-pernaE ficha-corpo-status-{{data.perna-e.status}} tooltip-box jsSelectFakeContext">
                                    <span class="tooltip">perna esquerda</span>
                                    <input type="text" name="data.perna-e.rd" value="{{data.perna-e.rd}}" class="ficha-corpo-rd jsNumeroConta  ficha-corpo-status-{{data.perna-e.status}}">

                                     <div class="ficha-selectfake-box">
                                        <div class="ficha-selectfake">
                                            <select name="data.perna-e.status">
                                                <option value="normal" {{#if (eq data.perna-e.status "normal")}}selected{{/if}}>Normal</option>
                                                <option value="ferido" {{#if (eq data.perna-e.status "ferido")}}selected{{/if}}>Ferido</option>
                                                <option value="incapacitado" {{#if (eq data.perna-e.status "incapacitado")}}selected{{/if}}>Incapacitado</option>
                                            </select>
                                        </div>
                                        <div class="ficha-selectfake-sombra"></div>
                                    </div>
								</div>


								<div class="ficha-corpo-parte ficha-corpo-pernaD ficha-corpo-status-{{data.perna-d.status}} tooltip-box jsSelectFakeContext">
                                    <span class="tooltip">perna direita</span>
                                    <input type="text" name="data.perna-d.rd" value="{{data.perna-d.rd}}" class="ficha-corpo-rd jsNumeroConta  ficha-corpo-status-{{data.perna-d.status}}">

                                     <div class="ficha-selectfake-box">
                                        <div class="ficha-selectfake">
                                            <select name="data.perna-d.status">
                                                <option value="normal" {{#if (eq data.perna-d.status "normal")}}selected{{/if}}>Normal</option>
                                                <option value="ferido" {{#if (eq data.perna-d.status "ferido")}}selected{{/if}}>Ferido</option>
                                                <option value="incapacitado" {{#if (eq data.perna-d.status "incapacitado")}}selected{{/if}}>Incapacitado</option>
                                            </select>
                                        </div>
                                        <div class="ficha-selectfake-sombra"></div>
                                    </div>
								</div>

								<div class="ficha-corpo-esqdir">
									<div class="ficha-esquerda">
										esq.
									</div>
									<div class="ficha-direita">
										dir.
									</div>
								</div>

							</div>
						</div>
					</div>

					
				</div>

				

			</div>
			<!-- PERFIL -->



			{{!-- caracteristicas --}}
			<div class="ficha-conteudo" fichaId="caracteristicas">
				<div class="ficha-carac-qualidef">

					<!-- Qualidades -->
					<div class="ficha-carac-qualidades">
						<div class="ficha-bloco">
							<div class="ficha-carac-titulo">
								qualidades <span class="soma"><span class="jsSomaQualidades">0</span><span class="mini">/<span class="jsSomaDefeitosLimite">0</span><span class="limite"> (limite <input name="data.limiteQualidade" type="text" value="{{data.limiteQualidade}}" placeholder=""/>)</span></span></span>
							</div>

							<ul>
								{{#each qualidades as |qualidade id|}}
								<li>
									<a href="javascript:void(0)" abrirmodalcontext="qualidade{{qualidade._id}}">
										<div class="ficha-carac-nome">
											{{qualidade.name}}
											<span class="gradiente-txt"><span class="jsQualidadePonto">{{qualidade.data.custos}}</span></span>
										</div>
										<div class="ficha-carac-resumo">
											{{qualidade.data.explicacao}}
										</div>
									</a>
								</li>
								{{/each}}

							</ul>
							
						</div>
					</div>
					<!-- Qualidades -->

					<!-- defeitos -->
					<div class="ficha-carac-defeitos">
						<div class="ficha-bloco">
							<div class="ficha-carac-titulo">
								defeitos <span class="soma">-<span class="jsSomaDefeitos">0</span></span>
							</div>

							<ul>
								{{#each defeitos as |defeito id|}}
								{{!-- "idN": "",
								"descricao" : "Descrição",
								"explicacao" : "Explicação base",
								"custos" : 1,
								"unico" : "nao",
								"cumulativo" : "nao" --}}
								<li>
									<a href="javascript:void(0)" abrirmodalcontext="defeito{{defeito._id}}">
										<div class="ficha-carac-nome">
											{{defeito.name}}
											<span class="gradiente-txt">-<span class="jsDefeitoPonto">{{defeito.data.custos}}</span></span>
										</div>
										<div class="ficha-carac-resumo">
											{{defeito.data.explicacao}}
										</div>
									</a>
								</li>

								{{/each}}
								
							</ul>
							
						</div>
					</div>
					<!-- defeitos -->

					<div class="ficha-carac-peculiaridades">
						<!-- peculiaridades -->
						<div class="ficha-bloco">
							<div class="ficha-pec-titulo">
								peculiaridades
							</div>
							<div class="ficha-pec-box">
								<input type="text" value="{{data.peculiaridades.pec1}}" name="data.peculiaridades.pec1">
								<input type="text" value="{{data.peculiaridades.pec2}}" name="data.peculiaridades.pec2">
								<input type="text" value="{{data.peculiaridades.pec3}}" name="data.peculiaridades.pec3">
								<input type="text" value="{{data.peculiaridades.pec4}}" name="data.peculiaridades.pec4">
							</div>
						</div>
					<!-- peculiaridades -->
					</div>
					
				</div>
			</div>
			{{!-- //caracteristicas --}}







            {{#if editable}}
            <!-- MODAIs -->
			<div class="ficha-modais">

				<!-- MODAL FORÇA -->
				<div class="ficha-modal-atributos ficha-modal" modalId="forca">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									força
								</span>

								<div class="ficha-xp">
									<span class="jsXpAtributosFake"></span> atr
								</div>
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<strong>soma</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>graduação</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>racial</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>bônus</strong>
										</div>
									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												{{somaAtt data.forca.graduacao data.forca.racial data.forca.bonus}}
											</span>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="numero-box">

                                                <div class="ficha-atributo-numero">{{data.forca.graduacao}}</div>

												<input name="data.forca.graduacao" class="numero-input ficha-atributo-numero" type="hidden" value="{{data.forca.graduacao}}">
                                                

                                                
												<a href="javascript:void(0)" class="numero-conta-menos jsContaMenosAtributo">
													<span class="numero-conta-sinal">
														-
													</span>
													<span class="numero-tooltip"></span>
												</a>


												<a href="javascript:void(0)" class="numero-conta-mais jsContaMaisAtributo" valorProximo="0">
													<span class="numero-conta-sinal">
														+
													</span>
													<span class="numero-tooltip"></span>
												</a>



											</div>
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.forca.racial" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.forca.racial}}">
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.forca.bonus" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.forca.bonus}}">
										</div>
									</div>
								</div>
								
								
							</div>
							


							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>
				<!-- /MODAL FORÇA-->


                <!-- MODAL REFLEXOS -->
				<div class="ficha-modal-atributos ficha-modal" modalId="reflexos">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									reflexos
								</span>

								<div class="ficha-xp">
									<span class="jsXpAtributosFake"></span> xp
								</div>
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<strong>soma</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>graduação</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>racial</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>bônus</strong>
										</div>
									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												{{somaAtt data.reflexos.graduacao data.reflexos.racial data.reflexos.bonus}}
											</span>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="numero-box">

                                                <div class="ficha-atributo-numero">{{data.reflexos.graduacao}}</div>

												<input name="data.reflexos.graduacao" class="numero-input ficha-atributo-numero" type="hidden" value="{{data.reflexos.graduacao}}">
                                                

                                                
												<a href="javascript:void(0)" class="numero-conta-menos jsContaMenosAtributo">
													<span class="numero-conta-sinal">
														-
													</span>
													<span class="numero-tooltip"></span>
												</a>


												<a href="javascript:void(0)" class="numero-conta-mais jsContaMaisAtributo" valorProximo="0">
													<span class="numero-conta-sinal">
														+
													</span>
													<span class="numero-tooltip"></span>
												</a>



											</div>
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.reflexos.racial" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.reflexos.racial}}">
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.reflexos.bonus" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.reflexos.bonus}}">
										</div>
									</div>
								</div>
								
								
							</div>
							


							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>
				<!-- /MODAL REFLEXOS-->


                <!-- MODAL inteligencia -->
				<div class="ficha-modal-atributos ficha-modal" modalId="inteligencia">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									inteligência
								</span>

								<div class="ficha-xp">
									<span class="jsXpAtributosFake"></span> atr
								</div>
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<strong>soma</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>graduação</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>racial</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>bônus</strong>
										</div>
									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												{{somaAtt data.inteligencia.graduacao data.inteligencia.racial data.inteligencia.bonus}}
											</span>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="numero-box">

                                                <div class="ficha-atributo-numero">{{data.inteligencia.graduacao}}</div>

												<input name="data.inteligencia.graduacao" class="numero-input ficha-atributo-numero" type="hidden" value="{{data.inteligencia.graduacao}}">
                                                

                                                
												<a href="javascript:void(0)" class="numero-conta-menos jsContaMenosAtributo">
													<span class="numero-conta-sinal">
														-
													</span>
													<span class="numero-tooltip"></span>
												</a>


												<a href="javascript:void(0)" class="numero-conta-mais jsContaMaisAtributo" valorProximo="0">
													<span class="numero-conta-sinal">
														+
													</span>
													<span class="numero-tooltip"></span>
												</a>



											</div>
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.inteligencia.racial" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.inteligencia.racial}}">
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.inteligencia.bonus" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.inteligencia.bonus}}">
										</div>
									</div>
								</div>
								
								
							</div>
							


							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>
				<!-- /MODAL inteligencia-->


                <!-- MODAL empatia -->
				<div class="ficha-modal-atributos ficha-modal" modalId="empatia">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									empatia
								</span>

								<div class="ficha-xp">
									<span class="jsXpAtributosFake"></span> atr
								</div>
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<strong>soma</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>graduação</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>racial</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>bônus</strong>
										</div>
									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												{{somaAtt data.empatia.graduacao data.empatia.racial data.empatia.bonus}}
											</span>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="numero-box">

                                                <div class="ficha-atributo-numero">{{data.empatia.graduacao}}</div>

												<input name="data.empatia.graduacao" class="numero-input ficha-atributo-numero" type="hidden" value="{{data.empatia.graduacao}}">
                                                

                                                
												<a href="javascript:void(0)" class="numero-conta-menos jsContaMenosAtributo">
													<span class="numero-conta-sinal">
														-
													</span>
													<span class="numero-tooltip"></span>
												</a>


												<a href="javascript:void(0)" class="numero-conta-mais jsContaMaisAtributo" valorProximo="0">
													<span class="numero-conta-sinal">
														+
													</span>
													<span class="numero-tooltip"></span>
												</a>



											</div>
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.empatia.racial" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.empatia.racial}}">
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.empatia.bonus" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.empatia.bonus}}">
										</div>
									</div>
								</div>
								
								
							</div>
							


							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>
				<!-- /MODAL empatia-->

			
				<!-- MODAL pvMax -->
				<div class="ficha-modal-atributos ficha-modal" modalId="pvmax">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									pontos de vida
								</span>
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<strong>soma</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>força x 2</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>Tam. {{txtTamanho data.tamanho}}</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>bônus</strong>
										</div>
									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												{{somaPvMax data.forca.graduacao data.forca.racial data.forca.bonus data.tamanho data.pv.max-bonus}}
											</span>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="ficha-atributo-numero">{{somaAtt data.forca.graduacao data.forca.racial data.forca.bonus}} * 2</div>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="ficha-atributo-numero">
												{{calcTamanho data.tamanho}}
											</div>
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.pv.max-bonus" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.pv.max-bonus}}">
										</div>
									</div>
								</div>
								
								
							</div>
							


							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>
				<!-- /MODAL pvMax-->


				<!-- MODAL fadigaMax -->
				<div class="ficha-modal-atributos ficha-modal" modalId="fadigamax">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									pontos de vida
								</span>
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<strong>soma</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>força + reflexos</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>Tam. {{txtTamanho data.tamanho}}</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>bônus</strong>
										</div>
									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												{{somaFadigaMax data.forca.graduacao data.forca.racial data.forca.bonus data.reflexos.graduacao data.reflexos.racial data.reflexos.bonus data.tamanho data.fadiga.max-bonus}}
											</span>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="ficha-atributo-numero">{{somaAtt data.forca.graduacao data.forca.racial data.forca.bonus}} + {{somaAtt data.reflexos.graduacao data.reflexos.racial data.reflexos.bonus}}</div>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="ficha-atributo-numero">
												{{calcTamanho data.tamanho}}
											</div>
										</div>

										<div class="ficha-modal-tabela-cel">
											<input name="data.fadiga.max-bonus" class="ficha-atributo-numero jsNumeroConta" type="text" value="{{data.fadiga.max-bonus}}">
										</div>
									</div>
								</div>
								
								
							</div>
							


							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>
				<!-- /MODAL fadigaMax-->


				{{!-- MODAIS PERICIAS --}}
				{{#each pericias as |pericia id|}}
				<div class="ficha-modal-atributos ficha-modal item" modalId="pericia{{pericia._id}}" data-item-id="{{pericia._id}}">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									{{#if (ne pericia.data.idN "")}}
									{{pericia.name}}
									{{/if}}

									{{#if (eq pericia.data.idN "")}}
									<input type="text" data-field="name" class="inline-edit" value="{{pericia.name}}">
									{{/if}}
								</span>

								<div class="ficha-xp">
									<span class="jsXpFake"></span> xp
								</div>
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										
										<div class="ficha-modal-tabela-cel">
											<strong>soma</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>graduação</strong>
										</div>

										<div class="ficha-modal-tabela-cel">
											<strong>bônus</strong>
										</div>

										<div class="ficha-modal-tabela-cel" style="min-width: 145px;">
											<strong>atributo comum</strong>
										</div>

									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												{{somaPericia pericia.data.graduacao pericia.data.bonus}}
											</span>
										</div>

										<div class="ficha-modal-tabela-cel">
											<div class="numero-box">

                                                <div class="ficha-atributo-numero">{{pericia.data.graduacao}}</div>


												<input class="inline-edit numero-input" type="hidden" data-field="data.graduacao" value="{{pericia.data.graduacao}}">
                                                
												<a href="javascript:void(0)" class="numero-conta-menos jsContaMenospericia" valorProximo="0">
													<span class="numero-conta-sinal">
														-
													</span>
													<span class="numero-tooltip"></span>
												</a>


												<a href="javascript:void(0)" class="numero-conta-mais jsContaMaispericia" valorProximo="0">
													<span class="numero-conta-sinal">
														+
													</span>
													<span class="numero-tooltip"></span>
												</a>



											</div>

											
										</div>

										<div class="ficha-modal-tabela-cel">
											<input type="text" class="ficha-atributo-numero inline-edit" data-field="data.bonus" value="{{pericia.data.bonus}}">
										</div>

										<div class="ficha-modal-tabela-cel" style="min-width: 145px;">
											<select data-field="data.atributo" class="inline-edit">
												<option value="forca" {{#if (eq pericia.data.atributo "forca")}}selected{{/if}}>força</option>
												<option value="reflexos" {{#if (eq pericia.data.atributo "reflexos")}}selected{{/if}}>reflexos</option>
												<option value="inteligencia" {{#if (eq pericia.data.atributo "inteligencia")}}selected{{/if}}>inteligência</option>
												<option value="empatia" {{#if (eq pericia.data.atributo "empatia")}}selected{{/if}}>empatia</option>
											</select>
										</div>

									</div>
								</div>
							</div>
							

							<div class="ficha-modal-footer">
								<a href="javascript:void(0)" class="item-delete-FAKE">
									<i class="fas fa-trash"></i> deletar perícia
								</a>

								<a href="javascript:void(0)" class="item-delete">
									<i class="fas fa-trash"></i> TEM CERTEZA?
								</a>
							
								<div class="ficha-modal-footer-nota">(irreversível, cuidado)</div>
							</div>

							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>

				{{/each}}
				{{!-- /MODAIS PERICIAS --}}


				{{!-- MODAIS QUALIDADES --}}
				{{#each qualidades as |qualidade id|}}
				<div class="ficha-modal-qualdef ficha-modal item" modalId="qualidade{{qualidade._id}}" data-item-id="{{qualidade._id}}">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									<input type="text" data-field="name" class="inline-edit" value="{{qualidade.name}}">
								</span>

								<input type="text" data-field="data.explicacao" class="inline-edit" value="{{data.explicacao}}">
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<strong>pontos</strong>
										</div>
									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												<input class="inline-edit" type="text" data-field="data.custos" value="{{qualidade.data.custos}}" style="text-align: center">
											</span>
										</div>
									</div>
								</div>
								<br>
								<input class="html-code" type="hidden" value="{{qualidade.data.descricao}}">


							</div>
							

							<div class="ficha-modal-footer">
								<a href="javascript:void(0)" class="item-delete-FAKE">
									<i class="fas fa-trash"></i> deletar qualidade
								</a>

								<a href="javascript:void(0)" class="item-delete">
									<i class="fas fa-trash"></i> TEM CERTEZA?
								</a>
							</div>

							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>

				{{/each}}
				{{!-- /MODAIS QUALIDADES --}}



				{{!-- MODAIS DEFEITOS --}}
				{{#each defeitos as |defeito id|}}
				<div class="ficha-modal-qualdef ficha-modal item" modalId="defeito{{defeito._id}}" data-item-id="{{defeito._id}}">
					<div class="ficha-modal-center">
						<div class="ficha-modal-conteudo">
							<div class="ficha-modal-titulo">
								<span class="gradiente-txt">
									<input type="text" data-field="name" class="inline-edit" value="{{defeito.name}}">
								</span>

								<input type="text" data-field="data.explicacao" class="inline-edit" value="{{data.explicacao}}">
							</div>

							<div class="ficha-modal-txt">
								<div class="ficha-modal-tabela">
									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<strong>pontos</strong>
										</div>
									</div>

									<div class="ficha-modal-tabela-linha">
										<div class="ficha-modal-tabela-cel">
											<span class="gradiente-txt">
												-<input class="inline-edit" type="text" data-field="data.custos" value="{{defeito.data.custos}}">
											</span>
										</div>
									</div>
								</div>
								<br>
								<input class="html-code" type="hidden" value="{{defeito.data.descricao}}">


							</div>
							

							<div class="ficha-modal-footer">
								<a href="javascript:void(0)" class="item-delete-FAKE">
									<i class="fas fa-trash"></i> deletar defeito
								</a>

								<a href="javascript:void(0)" class="item-delete">
									<i class="fas fa-trash"></i> TEM CERTEZA?
								</a>
							</div>

							<a href="javascript:void(0)" class="ficha-modal-fechar" fecharModal="">x</a>
						</div>

						<div class="ficha-modal-overlay" fecharModal=""></div>
					</div>
				</div>

				{{/each}}
				{{!-- /MODAIS DEFEITOS --}}

			</div>
			<!-- MODAIS -->
			{{/if}}



		</div>
	</div>
	{{#if editable}}
    <script>
        setTimeout(function(){
            $("body").find(".window-app").each(function(){
                if(parseInt($(this).css('width')) < 840) {
                    $(this).addClass("ficha-mobile");
                } else {
                    $(this).removeClass("ficha-mobile");
                }
            });

            $("[fichaunica='{{actor._id}}'] [abrirmodalcontext]").contextmenu(function(e){
                e.preventDefault();
                $(this).parents(".ficha").find(".jsModalAberto").val($(this).attr("abrirmodalcontext")).trigger("change");
            });

            $("[fichaunica='{{actor._id}}'] [abrirModal]").click(function(e){
                e.preventDefault();
                $(this).parents(".ficha").find(".jsModalAberto").val($(this).attr("abrirModal")).trigger("change");
            });

            $("[fichaunica='{{actor._id}}'] [fecharModal]").click(function(e){
                $(this).parents(".ficha").find(".jsModalAberto").val("modaloff").trigger("change");
            });

            $("[fichaunica='{{actor._id}}'] [abrirAba]").click(function(e){
                e.preventDefault();
                $(this).parents(".ficha").find(".jsAbaAberta").val($(this).attr("abrirAba")).trigger("change");
            });

			$("[fichaunica='{{actor._id}}'] .item-delete-FAKE").click(function(e){
                e.preventDefault();
				$(this).hide();
                $(this).next(".item-delete").show();
            });


			


            //Numeros

            $("[fichaunica='{{actor._id}}'] .jsContaMaisAtributo, [fichaunica='{{actor._id}}'] .jsContaMenosAtributo").click(function(){
                var numeroAlvo = $(this).parent(".numero-box").find(".numero-input").val();
                var xpFakeDisponivel = $(this).parents(".ficha").find(".jsXpAtributosFakeInput").val();
                if(typeof(numeroAlvo) != "number") {
                    numeroAlvo = parseInt(numeroAlvo);
                }

                if(typeof(xpFakeDisponivel) != "number") {
                    xpFakeDisponivel = parseInt(xpFakeDisponivel);
                }


                if($(this).hasClass("jsContaMaisAtributo")) {
                    var proximoGasto = parseInt($(this).attr("valorproximo"));
                    console.log(proximoGasto);
                    console.log(xpFakeDisponivel);

                    if(proximoGasto > xpFakeDisponivel) {
                        alert("XP indisponível");
                    } else {
                        numeroAlvo += 1;
                        $(this).parent(".numero-box").find(".numero-input").val(numeroAlvo).trigger("change");
                    }
                    
                } else {
                    numeroAlvo -= 1;
                    $(this).parent(".numero-box").find(".numero-input").val(numeroAlvo).trigger("change");
                }

            });

            
            //Xp À Gastar

            var valorForca{{actor._id}} = parseInt($('[fichaunica="{{actor._id}}"] input[name="data.forca.graduacao"]').val());
            var valorReflexos{{actor._id}} = parseInt($('[fichaunica="{{actor._id}}"] input[name="data.reflexos.graduacao"]').val());
            var valorInteligencia{{actor._id}} = parseInt($('[fichaunica="{{actor._id}}"] input[name="data.inteligencia.graduacao"]').val());
            var valorEmpatia{{actor._id}} = parseInt($('[fichaunica="{{actor._id}}"] input[name="data.empatia.graduacao"]').val());

            var fNovo{{actor._id}} = -3;
            for (var Xa = 0; Xa <= valorForca{{actor._id}}; Xa++) {
                fNovo{{actor._id}} += Math.ceil(Xa/5)
            }

            var rNovo{{actor._id}} = -3;
            for (var Xb = 0; Xb <= valorReflexos{{actor._id}}; Xb++) {
                rNovo{{actor._id}} += Math.ceil(Xb/5)
            }

            var iNovo{{actor._id}} = -3;
            for (var Xc = 0; Xc <= valorInteligencia{{actor._id}}; Xc++) {
                iNovo{{actor._id}} += Math.ceil(Xc/5)
            }

            var eNovo{{actor._id}} = -3;
            for (var Xd = 0; Xd <= valorEmpatia{{actor._id}}; Xd++) {
                eNovo{{actor._id}} += Math.ceil(Xd/5)
            }

            var xpAttrGasto{{actor._id}} = fNovo{{actor._id}}+rNovo{{actor._id}}+iNovo{{actor._id}}+eNovo{{actor._id}};
            var xpAttrTotal{{actor._id}} = parseInt($('[fichaunica="{{actor._id}}"] [name="data.xp-atributos"]').val());

            $("[fichaunica='{{actor._id}}'] .jsXpAtributosFake").html((xpAttrTotal{{actor._id}}-xpAttrGasto{{actor._id}}).toString());
            $("[fichaunica='{{actor._id}}'] .jsXpAtributosFakeInput").val((xpAttrTotal{{actor._id}}-xpAttrGasto{{actor._id}}));
            


            $("[fichaunica='{{actor._id}}'] .ficha-perfil-atributos .ficha-xp, [fichaunica='{{actor._id}}'] .ficha-perfil-pericias .ficha-xp").contextmenu(function(){
                $(this).find(".minimodalAddAttr, .minimodalAddXp").toggle();
            });

			$("[fichaunica='{{actor._id}}'] .minimodalAddXp a").click(function(){
                var acrescentarXp = parseInt($(this).parents(".minimodalAddXp").find("input").val());

                if(typeof(acrescentarXp)==="number") {
                    var acrescentarXpTotal = parseInt($(this).parents(".ficha").find('[name="data.xp"]').val());
                    $(this).parents(".ficha").find('[name="data.xp"]').val(acrescentarXpTotal+acrescentarXp).trigger("change");
                } else {
                    alert("Inválido");
                }
            });



            $("[fichaunica='{{actor._id}}'] .minimodalAddAttr a").click(function(){
                var acrescentarXp = parseInt($(this).parents(".minimodalAddAttr").find("input").val());

                if(typeof(acrescentarXp)==="number") {
                    var acrescentarXpTotal = parseInt($(this).parents(".ficha").find('[name="data.xp-atributos"]').val());
                    $(this).parents(".ficha").find('[name="data.xp-atributos"]').val(acrescentarXpTotal+acrescentarXp).trigger("change");
                } else {
                    alert("Inválido");
                }
            });


            $("[fichaunica='{{actor._id}}'] .jsContaMaisAtributo, [fichaunica='{{actor._id}}'] .jsContaMenosAtributo").each(function(){
                var valorAtribuloGraduado = parseInt($(this).parents(".numero-box").find(".numero-input").val());

                if(valorAtribuloGraduado) {
                    if($(this).hasClass("jsContaMaisAtributo")) {
                        valorAtribuloGraduado += 1;
                        var valorAtribuloGraduadoArredondado = Math.ceil(valorAtribuloGraduado/5);
                        $(this).find(".numero-tooltip").html(" -"+valorAtribuloGraduadoArredondado+" atr");
                        $(this).attr("valorProximo",valorAtribuloGraduadoArredondado);
                        
                    } else {
                        valorAtribuloGraduado -= 1;
                        if(valorAtribuloGraduado > 0) {
                            $(this).show();
                            valorAtribuloGraduado += 1;
                            var valorAtribuloGraduadoArredondado = Math.ceil(valorAtribuloGraduado/5);
                            $(this).find(".numero-tooltip").html(" +"+valorAtribuloGraduadoArredondado+" atr");
                        } else {
                            valorAtribuloGraduado = 0;
                            $(this).hide();
                        }
                    }

                }


            });

			$("[fichaunica='{{actor._id}}'] .jsEditavelChange").click(function(){
				var editavelValor = $(this).attr("editavelValor");
				if(editavelValor === "false") {
					$(this).parents(".ficha").find('[name="data.editavel"]').val("true").trigger("change");
				} else {
					$(this).parents(".ficha").find('[name="data.editavel"]').val("false").trigger("change");
				}
			});


			let editarFichaContagem{{actor._id}} = 0;
			$("[fichaunica='{{actor._id}}'] .ficha-perfil-corpo-img").contextmenu(function(){
				editarFichaContagem{{actor._id}} += 1;

				if(editarFichaContagem{{actor._id}} > 5) {
					$("[fichaunica='{{actor._id}}'] .jsEditavelChangeLi").show();
				}
			});

            $("[fichaunica='{{actor._id}}'] .jsSelectFakeContext").contextmenu(function(){
                $(this).find(".ficha-selectfake-box").fadeToggle();
            });

			var pvMaxCalculado = $('[fichaunica="{{actor._id}}"] .jsPvMaximo').val();
			var pvMaxFicha = $('[fichaunica="{{actor._id}}"] [name="data.pv.max"]').val();
			if(pvMaxCalculado != pvMaxFicha) {
				$('[fichaunica="{{actor._id}}"] [name="data.pv.max"]').val(pvMaxCalculado);
			}

			var statusPv = $('[fichaunica="{{actor._id}}"] .jsPvStatus').val();
			var statusPvReal = $('[fichaunica="{{actor._id}}"] [name="data.pv.status"]').val();

			if(statusPv != statusPvReal) {
				$('[fichaunica="{{actor._id}}"] [name="data.pv.status"]').val(statusPv);
			}

			var fadigaMaxCalculado = $('[fichaunica="{{actor._id}}"] .jsFadigaMaxima').val();
			var fadigaMaxFicha = $('[fichaunica="{{actor._id}}"] [name="data.fadiga.max"]').val();
			if(fadigaMaxCalculado != fadigaMaxFicha) {
				$('[fichaunica="{{actor._id}}"] [name="data.fadiga.max"]').val(fadigaMaxCalculado);
			}

			var statusFadiga = $('[fichaunica="{{actor._id}}"] .jsFadigaStatus').val();
			var statusFadigaReal = $('[fichaunica="{{actor._id}}"] [name="data.fadiga.status"]').val();

			if(statusPv != statusPvReal) {
				$('[fichaunica="{{actor._id}}"] [name="data.fadiga.status"]').val(statusFadiga);
			}


			//Calculo XP perícia

			var xpGasto{{actor._id}} = 0;
			$('[fichaunica="{{actor._id}}"] [periciagraduacao]').each(function(){
				var graduacaoPericia = parseInt($(this).attr('periciagraduacao'));
				xpGasto{{actor._id}} += 5*(graduacaoPericia*graduacaoPericia)+(5*graduacaoPericia);
			});


            var xpTotal{{actor._id}} = parseInt($('[fichaunica="{{actor._id}}"] [name="data.xp"]').val());

            $("[fichaunica='{{actor._id}}'] .jsXpFake").html((xpTotal{{actor._id}}-xpGasto{{actor._id}}).toString());
            $("[fichaunica='{{actor._id}}'] .jsXpFakeInput").val((xpTotal{{actor._id}}-xpGasto{{actor._id}}));


			//Graduação perícias

			$("[fichaunica='{{actor._id}}'] .jsContaMaispericia").each(function(){
                var valorPericiaGraduada = parseInt($(this).parents(".numero-box").find(".numero-input").val());
				valorPericiaGraduada += 1;
				var valorPericiaGraduadaArredondado = valorPericiaGraduada*10;
				$(this).find(".numero-tooltip").html(" -"+valorPericiaGraduadaArredondado+" xp");
				$(this).attr("valorProximo",valorPericiaGraduadaArredondado);
            });

			$("[fichaunica='{{actor._id}}'] .jsContaMenospericia").each(function(){
                var valorPericiaGraduada = parseInt($(this).parents(".numero-box").find(".numero-input").val());
                if(valorPericiaGraduada <= 0) {
					$(this).hide();
				} else {
					var valorPericiaGraduadaArredondado = valorPericiaGraduada*10;
					$(this).find(".numero-tooltip").html(" +"+valorPericiaGraduadaArredondado+" xp");
					$(this).attr("valorProximo",valorPericiaGraduadaArredondado);
				}
            });

			$("[fichaunica='{{actor._id}}'] .jsContaMaispericia, [fichaunica='{{actor._id}}'] .jsContaMenospericia").click(function(){
                var numeroAlvo = $(this).parent(".numero-box").find(".numero-input").val();
                var xpFakeDisponivel = $(this).parents(".ficha").find(".jsXpFakeInput").val();

                if(typeof(numeroAlvo) != "number") {
                    numeroAlvo = parseInt(numeroAlvo);
                }

                if(typeof(xpFakeDisponivel) != "number") {
                    xpFakeDisponivel = parseInt(xpFakeDisponivel);
                }


                if($(this).hasClass("jsContaMaispericia")) {
                    var proximoGasto = parseInt($(this).attr("valorproximo"));
                    console.log(proximoGasto);
                    console.log(xpFakeDisponivel);

                    if(proximoGasto > xpFakeDisponivel) {
                        alert("XP indisponível");
                    } else {
                        numeroAlvo += 1;
                        $(this).parent(".numero-box").find(".numero-input").val(numeroAlvo).trigger("change");
                    }
                    
                } else {
                    numeroAlvo -= 1;
                    $(this).parent(".numero-box").find(".numero-input").val(numeroAlvo).trigger("change");
                }

            });

			{{!-- html code --}}

			$( "[fichaunica='{{actor._id}}'] .html-code").each(function(){
				$(this).after($(this).val());
			});

			var jsSomaQualidades{{actor._id}} = 0;
			var jsSomaDefeitos{{actor._id}} = 0;
			var jsLimiteQualidades{{actor._id}} = $('[name="data.limiteQualidade"]').val();

			$( "[fichaunica='{{actor._id}}'] .jsQualidadePonto").each(function(){
				jsSomaQualidades{{actor._id}} = jsSomaQualidades{{actor._id}}+parseInt($(this).html());
			});


			$( "[fichaunica='{{actor._id}}'] .jsDefeitoPonto").each(function(){
				jsSomaDefeitos{{actor._id}} = jsSomaDefeitos{{actor._id}}+parseInt($(this).html());
			});

			$("[fichaunica='{{actor._id}}'] .jsSomaQualidades").html(jsSomaQualidades{{actor._id}});
			$("[fichaunica='{{actor._id}}'] .jsSomaDefeitos").html(jsSomaDefeitos{{actor._id}});

			if(jsSomaDefeitos{{actor._id}} < jsLimiteQualidades{{actor._id}}) {
				$("[fichaunica='{{actor._id}}'] .jsSomaDefeitosLimite").html(jsSomaDefeitos{{actor._id}});

				if(jsSomaQualidades{{actor._id}} > jsSomaDefeitos{{actor._id}}) {
					$("[fichaunica='{{actor._id}}'] .ficha-carac-qualidades .ficha-carac-titulo").addClass("ficha-qualidade-invalido");
				} else {
					$("[fichaunica='{{actor._id}}'] .ficha-carac-qualidades .ficha-carac-titulo").removeClass("ficha-qualidade-invalido");
				}
			} else {
				$("[fichaunica='{{actor._id}}'] .jsSomaDefeitosLimite").html(jsLimiteQualidades{{actor._id}});

				if(jsSomaQualidades{{actor._id}} > jsLimiteQualidades{{actor._id}}) {
					$("[fichaunica='{{actor._id}}'] .ficha-carac-qualidades .ficha-carac-titulo").addClass("ficha-qualidade-invalido");
				} else {
					$("[fichaunica='{{actor._id}}'] .ficha-carac-qualidades .ficha-carac-titulo").removeClass("ficha-qualidade-invalido");
				}
			}

			


			




			

			



			

        },300);
    </script>

	<style>
		{{!-- Estilo de modais de perícias --}}
		{{#each pericias as |pericia id|}}
			[modalAberto="pericia{{pericia._id}}"] [modalId="pericia{{pericia._id}}"] {
					display: block;
			}
			[modalAberto="pericia{{pericia._id}}"] [modalId="pericia{{pericia._id}}"] .ficha-modal-conteudo {
				display: block;
			}
		{{/each}}


		{{#each defeitos as |defeito id|}}
			[modalAberto="defeito{{defeito._id}}"] [modalId="defeito{{defeito._id}}"] {
					display: block;
			}
			[modalAberto="defeito{{defeito._id}}"] [modalId="defeito{{defeito._id}}"] .ficha-modal-conteudo {
				display: block;
			}
		{{/each}}

		{{#each qualidades as |qualidade id|}}
			[modalAberto="qualidade{{qualidade._id}}"] [modalId="qualidade{{qualidade._id}}"] {
					display: block;
			}
			[modalAberto="qualidade{{qualidade._id}}"] [modalId="qualidade{{qualidade._id}}"] .ficha-modal-conteudo {
				display: block;
			}
		{{/each}}
	</style>
	{{/if}}

    <input type="hidden" value="{{data.abaAberta}}" name="data.abaAberta" class="jsAbaAberta">
    <input type="hidden" value="{{data.modalAberto}}" name="data.modalAberto" class="jsModalAberto">
</form>